<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manejo de citas</title>

    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Template/css/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/General.css" rel="stylesheet" />

    <script src="~/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Template/vendor/jquery-easing/jquery.easing.js"></script>
    <script src="~/Template/js/sb-admin.min.js"></script>
    <script src="~/Scripts/General/General.js"></script>
    @RenderSection("Scripts", false/*required*/)
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">Reserve su cita</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            @{
                Modelo.Usuario.UsuarioModelo usuarioSesion = new Modelo.Usuario.UsuarioModelo();
                bool existeSesion = Session["usuario"] != null;
                usuarioSesion = existeSesion ? Session["usuario"] as Modelo.Usuario.UsuarioModelo : usuarioSesion;
            }

            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

                @if (usuarioSesion.ListaFuncionalidades.Exists(item => item.Nombre == "OrganizacionInicio" && (item.Permiso == true)))
                {
                    <li class="nav-item OrganizacionInicio" data-toggle="tooltip" data-placement="right" title="Organización">
                        <a class="nav-link" href="/Paciente/Index">
                            <i class="fa fa-fw fa-dashboard"></i>
                            <span class="nav-link-text">Organización</span>
                        </a>
                    </li>
                }

                @if (usuarioSesion.ListaFuncionalidades.Exists(item => item.Nombre == "ListaOfertas" && (item.Permiso == true)))
                {
                    <li class="nav-item ListaOfertas" data-toggle="tooltip" data-placement="right" title="Oferta">
                        <a class="nav-link" href="/Practicante/Oferta">
                            <i class="fa fa-fw fa-area-chart"></i>
                            <span class="nav-link-text">Oferta</span>
                        </a>
                    </li>
                }
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mis citas">
                    <a class="nav-link" href="/Practicante/CitasPracticante">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Citas</span>
                    </a>
                </li>

                @if (usuarioSesion.ListaFuncionalidades.Exists(item => item.Nombre == "ListadoUsuarios" && (item.Permiso == true)))
                {
                    <li class="nav-item ListadoUsuarios" data-toggle="tooltip" data-placement="right" title="Usuarios">
                        <a class="nav-link" href="/Usuario/Usuario">
                            <i class="fa fa-fw fa-user"></i>
                            <span class="nav-link-text">Usuarios</span>
                        </a>
                    </li>
                }

                </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal">
                        <a href="@Url.Action("Salir", "Login")">
                            <i class="fa fa-fw fa-sign-out"></i>Salir
                        </a>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="popUpCambioPassword" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambio de password</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <label>Password *</label>
                                <input id="txbPasswordCambio" type="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <label>Confirmar password *</label>
                                <input id="txbConfirmarPasswordCambio" type="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="actualizarPassword()">Cambiar password</button>

                    </div>
                    <p>Debe tener 8 caracteres como mínimo *</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="popUpMensaje" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="headerPopUp" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body" id="divMensajePopUp">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal_loading" style="display:none;">
        <img src="~/Imagenes/img_cargando.gif" />
    </div>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>

        <script>
            $('#toggleNavPosition').click(function () {
                $('body').toggleClass('fixed-nav');
                $('nav').toggleClass('fixed-top static-top');
            });

        </script>
        <!-- Toggle between dark and light navbar-->
        <script>
            $('#toggleNavColor').click(function () {
                $('nav').toggleClass('navbar-dark navbar-light');
                $('nav').toggleClass('bg-dark bg-light');
                $('body').toggleClass('bg-dark bg-light');
            });

        </script>
    </div>
</body>
</html>
