@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Template/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/General.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Correo electrónico</label>
                        <input class="form-control" id="txbCorreo" type="email" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" id="txbPassword" type="password" placeholder="Password">
                    </div>
                    
                    <a class="btn btn-primary btn-block" onclick="validarCredenciales()">Entrar</a>
                </form>
                <div class="text-center">
                    <a class="d-block small" href="forgot-password.html">Recuperar password</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="popUpMensaje" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="headerPopUp" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body" id="divMensajePopUp">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal_loading" style="display:none;">
        <img src="~/Imagenes/img_cargando.gif" />
    </div>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>

    <script src="~/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/General/General.js"></script>
    <script src="~/Scripts/Usuario/validarCredenciales.js"></script>

</body>
</html>