
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/Template/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Template/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/bootstrap-datepicke.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-clockpicker.min.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <input type="hidden" id="hdfUsuarioId" name="hdfUsuarioId">
    <input type="hidden" id="hdfAccion" name="hdfAccion">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Usuarios</a>
        </li>
        <li class="breadcrumb-item active">Listado</li>
    </ol>
    <div class="container mb-3 mt-3">
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-bloc" data-toggle="modal" onclick="mostrarMantenimientoUsuariosCrear();">Nuevo usuario</button>
            </div>
        </div>
    </div>

    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            @*AREA PARA FILTROS*@
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="divGridUsuarios"></div>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>

    <div class="modal fade" id="popUpEliminarUsuario" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lblTituloPopUp">Eliminar usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <label id="lblAEliminar"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="mantenimientoUsuarios()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="popUpMantenimientoUsurios" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lblTituloMantenimiento">Información del usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Nombre *</label>
                                <input id="txbNombre" name="txbNombre" class="form-control" value=""></input>
                            </div>
                            <div class="col-md-6">
                                <label>Apellidos *</label>
                                <input type="text" class="form-control" name="txbApellidos" id="txbApellidos" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Password *</label>
                                <input type="password" class="form-control" name="txbPassword" id="txbPassword" value="" readonly />
                            </div>
                            <div class="col-md-6">
                                <label>Identificación *</label>
                                <input type="text" class="form-control" name="txbIdentificacion" id="txbIdentificacion" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Correo *</label>
                                <input type="text" class="form-control" name="txbCorreo" id="txbCorreo" value="" />
                            </div>
                            <div class="col-md-6">
                                <label>Rol *</label>
                                <select id="ddlRol" class="form-control" onchange="mostrarFechasPractica();"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="divFechas" style="display:none;">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Carrera *</label>
                                <select id="ddlCarrera" class="form-control"></select>
                            </div>
                            <div class="col-md-3">
                                <label>Inicio practica *</label>
                                <input type="text" class="form-control" id="txbFechaInicio" data-date-format="dd/mm/yyyy" name="txbFechaInicio" value="" readonly />
                            </div>
                            <div class="col-md-3">
                                <label>Fin practica *</label>
                                <input type="text" class="form-control" id="txbFechaFin" data-date-format="dd/mm/yyyy" name="txbFechaFin" value="" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="mantenimientoUsuarios()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
        <script src="@Url.Content("~/Template/vendor/datatables/jquery.dataTables.js")"></script>
        <script src="@Url.Content("~/Template/vendor/datatables/dataTables.bootstrap4.js")"></script>
        <script src="@Url.Content("~/Template/js/sb-admin.min.js")"></script>
        <script src="@Url.Content("~/Template/js/sb-admin-datatables.min.js")"></script>
        <script src="~/Scripts/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/bootstrap-clockpicker.min.js"></script>
        <script src="~/Scripts/Usuario/mantenimientoUsuarios.js"></script>
    }

    <script>
        $(document).ready(function () {
            $("#txbFechaInicio").datepicker();
            $("#txbFechaFin").datepicker();

            $('.clockpicker').clockpicker();
        });
    </script>
</body>
</html>


